#################
## Eclipse ######
#################

.settings/
target/

#################
## Windows ######
#################

# Windows image file caches
Thumbs.db

##################
## Project #######
##################

lombok-presentation-demos/manuallycompile/com